@using Sky.ViewModels
@model Sky.ViewModels.EditPassViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChangePassword</title>
</head>
<body>
    <div id="w" class="easyui-window" title="修改密码" collapsible="false" minimizable="false"
         maximizable="false" icon="icon-save" style=" padding: 5px;
        background: #fafafa;">
        修改密码

        @using (Html.BeginForm())
        {
            <div>
                <fieldset>
                    <legend>
                        用户名：
                        @ViewBag.PersonNamea
                    </legend>
                    <div class="editor-label">
                        @Html.LabelFor(m => m.OldPassword) ：
                    </div>
                    <div class="editor-field">
                        @Html.PasswordFor(m => m.OldPassword)
                        @Html.ValidationMessageFor(m => m.OldPassword)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(m => m.NewPassword) ：
                    </div>
                    <div class="editor-field">
                        @Html.PasswordFor(m => m.NewPassword)
                        @Html.ValidationMessageFor(m => m.NewPassword)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(m => m.ConfirmPassword) ：
                    </div>
                    <div class="editor-field">
                        @Html.PasswordFor(m => m.ConfirmPassword)
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>
                    <p>
                        <input class="buttonOn" type="submit" value="修改密码" />
                    </p>
                    <p>
                        @Html.ValidationMessage("Error_PwdModify")
                        @Html.ValidationSummary(true)
                    </p>
                </fieldset>
            </div>
        }
    </div>
</body>
</html>
