@model Sky.ViewModels.RoleViewModel
@using Sky.Common
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Save.cshtml";
}



    @using (Html.BeginForm("Create", "Role", FormMethod.Post, new { id = "form1" }))
    {
        <table cellpadding="5">

            <tr>
                <td width="15%">
                    @Html.LabelFor(m => m.RoleName)
                </td>
                <td width="85%">
                    @Html.EditorFor(m => m.RoleName, new { htmlAttributes = new { @class = "easyui-textbox" } })
                    @Html.ValidationMessageFor(m => m.RoleName)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(m => m.Remark)
                </td>
                <td>
                    @Html.EditorFor(m => m.Remark, new { htmlAttributes = new { @class = "easyui-textbox" } })
                    @Html.ValidationMessageFor(m => m.Remark)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(m => m.Funcs)
                </td>
                <td>
                    @Html.CheckBoxListFor(m => m.Funcs, new SelectList(ViewBag.Funcs, "Value", "Text", null), true)

                    @Html.ValidationMessageFor(m => m.Funcs)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(m => m.Menus)
                </td>
                <td>
                    @Html.CheckBoxListFor(m => m.Menus, new SelectList(ViewBag.Menus, "Value", "Text", null), true)

                    @Html.ValidationMessageFor(m => m.Menus)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(m => m.Opers)
                </td>
                <td>
                    @Html.CheckBoxListFor(m => m.Opers, new SelectList(ViewBag.Opers, "Value", "Text", null), true)

                    @Html.ValidationMessageFor(m => m.Opers)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(m => m.Users)
                </td>
                <td>
                    @Html.CheckBoxListFor(m => m.Users, new SelectList(ViewBag.Users, "Value", "Text", null), true)

                    @Html.ValidationMessageFor(m => m.Users)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(m => m.StateFlag, new { htmlAttributes = new { cols = "40" } })
                </td>
                <td>
                    @Html.DropDownListFor(m => m.StateFlag, @SelectListClass.GetStatus(true), true )
                    @Html.ValidationMessageFor(m => m.StateFlag)
                </td>
            </tr>

            @Html.ValidationSummary(true)

            <tr>
                <td>

                    <a href='#' onclick='$("#form1").submit()' class="easyui-linkbutton"> 增加 </a>
                </td>
                <td>
                    <a href='#' onclick="javascript:resetData()" class="easyui-linkbutton">重置</a>
                    <a href='#' onclick="javascript:formClose();" class="easyui-linkbutton">返回</a>
                </td>
            </tr>
        </table>

    }






